.user-dashboard-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f6f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.refresh-btn {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-btn:hover {
  background-color: #0056b3;
}

.my-sales-stats, .top-users, .top-sales-managers {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Förhindra horisontell rullning */
  overflow-y: auto;   /* Tillåt vertikal rullning */
}

.user-dashboard-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f6f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Se till att sektionen täcker hela höjden */
}

